body {
    font-family: Arial, sans-serif;
    background-color: #df6aa0;
    color: #46484b;
}

h1, h2, h3, h4, h5, h6 {
    color: #46484b;
}

.container {
    margin-top: 30px;
}

.alert {
    margin-bottom: 20px;
}

.btn {
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    background-color: #46484b;
    border: 1px solid #46484b;
    color: white;
}

.btn:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.table {
    margin-top: 20px;
    background-color: white;
}

.table th {
    background-color: #46484b;
    color: white;
}

.card {
    border: 1px solid #46484b;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.image-titre img {
    width: 50%;
    height: auto;
    max-height: 325px;
    object-fit: cover;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: #46484b;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.card-body {
    text-align: center;
}

a {
    color: #46484b;
}

a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}
